
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --fonte-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #161515;
    --quaternary-color: #d7cfcf;
    --sapacing-color:rgba(40, 14, 103, 0.777);
}
.html {
    margin: 0;
    padding: 0;
}
.body {
    margin: 0;
    padding: 0;
}

.main-nav-container {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.93);
    /* background-image: url(/assets/img/parabolic-pentagon.svg);
    background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 4.1rem;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left-nav-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url(/assets/img/DALL_E-2025-01-04-21.03-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.1rem;
    height: 4.1rem;
    cursor: pointer;
    margin-left: 2rem;
    transform: matrix(1.4, 0, 0, 1.4, 0.5, 0);
    &:hover {
        transform:matrix(1.4, 0, 0, 1.4, 0.3, 0);
        transition: all 0.4s ease-in-out;
    }
}
.right-nav-contents {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 1.3rem;
    
}

.right-nav-contents ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.right-nav-contents li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    height: 4.1rem;
    font-size: 1.2rem;
    cursor: pointer;
    padding-left: 3rem; 
    &:hover {
        color: var(--quaternary-color);
        transform:matrix(1.1, 0, 0, 1.1, 0.3, 0);
        transition: all 0.4s ease-in-out;
    }

}   
.main-page-config {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
    width: 100%;
}
.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.login {
    border: none;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.4rem 1.6rem;
    margin: 1rem;   
    border-radius: 0.1rem;
    font-size: 1rem;
    font-family: var(--fonte-principal);
    transform: translateY(0.1rem);
    
    &:hover {
        transform:matrix(1.1, 0, 0, 1.1, 0.3, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(0, 0, 0);
    }
    &:active {
        transform:matrix(1.1, 0, 0, 1.1, 0.8, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(63, 63, 63);
    }

}
.menu-spacing {
    height: 1.5rem;
    width: 0.1rem;
    background-color: rgba(0, 0, 0, 0.549);
    margin-left: 0.5rem;
}
.dark-theme {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
    width: 100%;

}
#destaques {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* box-shadow: 0px 18px 15px rgba(0, 0, 0, 0.45); */
    
}
.container-detaque {
    background-image: url(/assets/img/dying-light-2-uhdpaper.com-1280-720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-shadow: inset 19rem 5rem 11rem 4rem rgba(0, 0, 0.7, 0.85);
    font-family: var(--fonte-principal);
   
    
}
.main-title {
    font-family: var(--fonte-principal);
    font-size: 5rem;
    color: var(--secondary-color);
    text-align: start;
    margin-left: 2rem;
 
    
    
}
.main-paragraph {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: start;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 10rem;
    width: 30rem;
}
.saiba-mais {
    border: none;
    background-color: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
    cursor: pointer;
    padding: 0.4rem 1.6rem;
    margin: 2rem;   
    border-radius: 0.1rem;
    font-family: var(--fonte-principal);
    transform: translateY(0.1rem);
    
    &:hover {
        transform:matrix(1.1, 0, 0, 1.1, 0.3, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(44, 42, 42);
        color: white;
    }
    &:active {
        transform:matrix(1.1, 0, 0, 1.1, 0.8, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(50, 48, 48);
    }
    
}

#jogos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160vh;
    width: 100%;
    font-family: var(--fonte-principal);
    
    
}
.container-jogos {
    font-family: var(--fonte-principal);
    background-image: url(/assets/img/wide.png);
    background-color: #000000;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 336px;
    width: 680px;
    /* box-shadow: 2px 0px 18px 15px rgba(0, 0, 0, 0.45); */
    border-radius: 0.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transform:matrix(1.07, 0, 0, 1.08, 0, 0);
        transition: all 0.4s ease-in-out;
        color: white;
        box-shadow: 2px 0px 18px 15px rgba(0, 0, 0, 0.45);
    }
}
.container-jogos-2 {
    font-family: var(--fonte-principal);
    background-color: #000000;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 336px;
    width: 410px;
    border-radius: 0.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        transform:matrix(1.07, 0, 0, 1.08, 0, 0);
        transition: all 0.4s ease-in-out;
        color: white;
        box-shadow: 2px 0px 18px 15px rgba(0, 0, 0, 0.45);
    }
}
.division-page {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 5rem; */
    width: 100%;
}
.linha-horizontal-divider {
    width: 60%;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.549);
}
.grid-jogos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;
    font-family: var(--fonte-principal);
    
    
}

.grid-jogos-2 {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;
    margin-top: -3rem;
    

}
#saiba-mais-jogos {

    background-image: url(/assets/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: right;
    background-position-x: 95%;
    border: none;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 3rem;
    width: 18rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-family: var(--fonte-principal);
    transform: translateY(0.1rem);
    
    &:hover {
        transform:matrix(1.1, 0, 0, 1.1, 0.3, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(0, 0, 0);
        box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.35);
    }
    &:active {
        transform:matrix(1.1, 0, 0, 1.1, 0.8, 0);
        transition: all 0.4s ease-in-out;
        background-color: rgb(63, 63, 63);
    }
    

    
}
.spacing-button {
    height: 2rem;
    width: 100%;
}

.go-to-jogos {
    font-family: var(--fonte-principal);
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}